html, body, header{
	height:100%;
}

body{
		margin:0;
		padding:0;
		color:#fff;
		font-size:100%;
		font-family: "Roboto", sans-serif;
		font-weight:300;
	}
 h1, h2, h3, h4, h5, h6{
	font-weight:normal;
	font-family: inherit;
	margin:0;
	padding:0;
}
.logo{
	margin-top: 30px;
}

ul{
	padding:0px;
}
ul li{
	list-style: none;
}

@font-face {
	font-family: "quicksand-dash";
	src: url("fonts/Quicksand_Dash.otf");
}
@font-face {
	font-family: "quicksand-regular";
	src: url("fonts/Quicksand_Regular.otf");
}

@font-face{
	font-family: "minispace";
	src:http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js;
}

@media (min-width:1600px){

.container{
min-width:80%;
}

}

#menu{
	padding-top:60px;
}

#menu ol{
	background-color:transparent;
}

#menu a{
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	font-size:16px;
	transition:linear 0.4s;
	display:inline-block;
	padding:5px;
	border-radius:5px;
}
#menu a:hover{
	text-decoration: bold;
}
#menu ol > li + li::before{
	color:#fff;
	font-weight:bold;
	font-size:16px;
}

.video{
		position: fixed;
		top: 0;
		left: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
}
.chamada{
	width:100%;
	margin-top: 15%;
	text-shadow: 2px 2px #000;
	text-align:center;
}
.chamada span{
	display:block;
}
.font-regular{
	letter-spacing:24px;
	font-size:22px;
	margin-bottom:10px;
	font-weight:300;
}
.font-decorate{
	font-family:"quicksand-dash", sans-serif;
	font-size:68px;
}
@media (min-width:1600px){
	.font-regular{
		font-size:36px;
	}
	.font-decorate{
		font-size:92px;
	}
	.chamada{
		margin-top:18%;
	}
}	
.icon-scroll{
	background:url(../imagens/scroll.png) no-repeat;
	width:80px;
	height:80px;
	position:absolute;
	bottom:30px;
	left:50%;
	margin-left:-40px;
}

audio {
	position: absolute;
	right: 10%;
	bottom: 30px;
}

#institucional{
	background-color:#1DBBB5;
	background-color: rgba(29, 187, 181, 0.94);
	z-index:30;
}

.wrap-item{
}

#institucional .titulo{
	padding-top:30px;
	color: rgb(1,33,42);
}

.institucional-itens{
	padding-top: 20px;
	padding-bottom: 40px;
}

#institucional h3{
	padding: 20px;
}
#institucional .wrap-itens{
	text-align: center;
	color: #fff;
}

#image-item, #info-item{
	display: inline-block;
}

#image-item{
	width: 450px;
	padding: 20px;
	position: relative;
}

#image-item img{
	padding:4px;
	border-style: dashed;
	border-width: 3px;
	border-radius: 120px;
	border-color: #8CDBD7;
	margin-left: -30px;
}

#info-item{
	position: absolute;
	padding-top: 30px;
	text-align: justify;
	width: 35%;
	margin-left: -180px;
}

#info-item h4{
	color: #FEEB66;
	text-transform: uppercase;
	font-weight: 600;
}

#info-item p{
	font-size: 14px;

}

#estrutura{
	background-color:#fff;
	background-color:rgba(255, 255, 255, 0.94);
	z-index: 30;
}

#estrutura, .titulo{
	color:rgb(1, 33, 42);
}

#myCarousel{
	margin-top: 30px;
	margin-bottom: 30px;
	width: 30%;
}

#especialidades {
	background-color:#1DBBB5;
	background-color: rgba(29, 187, 181, 0.94);
	z-index:30;
}
#especialidades .titulo{
	padding-top: 30px;
	color: rgb(1,33,42);
}
.especialidades-itens{
	padding-top:40px;
	padding-bottom:40px;
}
.titulo{
	text-transform:uppercase;
	text-align:center;
	font-size: 40px;
	font-family: "roboto-bold", sans-serif;
	padding-top: 30px;
}

.wrap-itens{

}
.image-itens, .info-itens, .btn-info, .icon{
	display:inline-block;
	margin-right: -4px;
	vertical-align: top;
}

.image-itens{
	width: 240px;
}

.image-itens img{
	padding:5px;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
	border-color: #8CDBD7;
}

.info-itens {
	width: 300px;
	margin-left:20px;
}
@media (max-width: 566px){
	.info-itens {
	margin-left:0px;
	}
}

.info-itens h3{
	text-transform: uppercase;
	font-weight:900;
	position: relative;
}

.info-itens h3 span{
	position: relative;
	font-size: 14px;
	bottom: 8px;
	display: inline-block;
}

#especialidades .info-itens h4{
	color: #FEEB66;
	font-weight:900;
	padding:6px 0px;
	font-size: 16px;
}

.info-itens h5{
	text-transform: uppercase;
	font-weight:900;
}

.info-itens p{
	text-align:justify;
	font-size: 14px;
	padding-bottom:8px;
	word-wrap: break-word;
}


.btn-itens{
	padding: 10px;
	text-align: center;
	border-radius: 4px;
	background-color:rgba(00, 00, 00, 0.1);
	font-size:16px;
	font-weight:400;
	cursor:pointer;
}

.icon-itens {
	width: 50px;
	position:relative;
	bottom:3px;
}

.bg-carousel{
	bottom: 0px;
	left: 0px;
	height: 25%;
	width: 100%;
	position: absolute;
	opacity: 0.9;
	z-index: -99;
	background-image: linear-gradient(to top,rgba(0,0,0,0.9) 0px,rgba(0,0,0,0.8) 35%,rgba(0,0,0,0.2) 75%, transparent 100%);
}

.informacoes{
	position: relative;
	clear: both;
	width: 100%;
	height: auto;
	color: #fff;
	text-align: justify;
	padding-top:20px;
}

#contato{
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.94);
	z-index: 30;
}

#contato, .wrap-item{
	text-align: center;
}

#contato .titulo{
	padding-top: 30px;
	color: rgb(1, 33, 42);
}

.contato-itens{
	padding-top: 0px;
	padding-bottom: 40px;
}

#contato .info-itens{
	color: #999999;
	text-align: justify;
	width: 100%;
	text-align: center;
	line-height: 30px;
}

#contato h4{
	font-weight: 900;
	color: #F9690E;
}

#contato p{
	text-align: center;
}

#contato .image-item{
	text-align: center;
	width: auto;
	border-style: dashed;
	border-color: #F9690E;
	padding: 4px;
}

.info-item, .image-item{
	display: inline-block;
}

#direitos{
	background-color: #F9690E;
	color: #fff;
	text-align: center;
}

#direitos, .info-itens{
	padding-top: 10px;
}